@model List<Lab.MVC.Models.Character>
@{
    ViewBag.Title = "Characters";
}

<h2>@ViewBag.Title</h2>
<div class="row" style="text-align:right;padding:5px">
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th></th>
            </tr>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p._id</td>
                    <td>@p.firstname</td>
                    <td>@p.lastname</td>
                </tr>
            }
        </table>
    </div>
</div>

