@model Lab.MVC.Models.Character
@{
    ViewBag.Title = "Characters";
}

<h2>@ViewBag.Title</h2>
<div class="row" style="text-align:right;padding:5px">
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th></th>
            </tr>
            @{
                <tr>
                    <td>@Model._id</td>
                    <td>@Model.firstname</td>
                    <td>@Model.lastname</td>
                </tr>
            }
        </table>
    </div>
</div>

